<div class="container mt-5">

    <div class="row">

        <div class="col-12">

            <h1>Welcome </h1>

            <p class="mt-4"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                typesetting, ddcremaining essentially unchanged.
            </p>

            <button type="button" id="body-button" class="btn btn-warning mt-3" (click)="goForm()"> Do you want to participate? </button>

        </div>
    </div>

</div>