<div class="container mt-5">

    <h1>Form</h1>

    <!-- Alert warning -->

    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert" *ngIf="(firstName.invalid && firstName.dirty) ||
          (lastName.invalid && lastName.dirty) ||
          (email.invalid && email.dirty) ||
          (language.invalid && language.dirty)
    ">

        <strong>Something is wrong!</strong> You should fill all the form
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>

    <!-- Form start -->
    <form [formGroup]="myform" (ngSubmit)="onSubmit()">

        <!-- Name + surname fieldset -->
        <fieldset formGroupName="name">
            <!-- Name input -->
            <div class="form-group" [ngClass]="{
                'has-danger':firstName.invalid && firstName.dirty,
                'has-success':firstName.valid && firstName.dirty
            }">
                <label>Name</label>
                <input type="firstName" class="form-control" formControlName="firstName" required>
            </div>

            <!-- Surname input -->
            <div class="form-group" [ngClass]="{
                'has-danger':lastName.invalid && lastName.dirty,
                'has-success':lastName.valid && lastName.dirty
                 }">
                <label>Surname</label>
                <input type="lastName" class="form-control" formControlName="lastName" required>

                <div class='mt-3 form-control-feedback' *ngIf="lastName.errors && (lastName.invalid && lastName.dirty)">
                    <p *ngIf="lastName.errors.required">Last name is required</p>
                    <p *ngIf="lastName.errors.minlength">Last Name must be 8 caracthers lon minimum. We need {{lastName.errors.minlength.requiredLength - lastName.errors.minlength.actualLength}}</p>
                </div>
            </div>


        </fieldset>

        <fieldset>
            <div class="form-group" [ngClass]="{
                'has-danger': email.invalid && email.dirty,
                'has-success': email.valid && email.dirty
            }">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email" required>
            </div>
        </fieldset>

        <fieldset>
            <div class="form-group" [ngClass]="{
                'has-danger':language.invalid && language.dirty,
                'has-success':language.valid && language.dirty
            }">

                <label>Please select a language</label>

                <select class='form-control' formControlName="language">
          <option *ngFor='let lang of langs' [value]='lang'>{{lang}}</option>
        </select>
            </div>
        </fieldset>


        <!-- 
                <label for="exampleFormControlSelect1">Example select</label>
                <select #number class="form-control" id="exampleFormControlSelect1">

                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>

             </select>
            </div>


            <div class="form-group">
                <label for="formControlRange">Example Range input</label>
                <input #number2 type="range" class="form-control" id="formControlRange">
            </div>



            <div class="form-group">
                <label for="exampleFormControlTextarea1">Do you want to add something?</label>
                <textarea #text1 type="text" class="form-control" rows="3"></textarea>
            </div>-->


        <button type="button" class="btn btn-warning mt-3" type="submit">Submit</button>

        <!-- <button type="button" class="btn btn-warning mt-3" type="submit" (click)="getAnswers(number.value, number2.value, text1.value)">Submit</button> -->
        <pre>{{ myform.value | json}}</pre>
        <pre>Name? {{ myform.controls.name.valid }}</pre>

        <pre>Dirty? {{ myform.controls.email.valid }}</pre>

    </form>