<div class="container mt-5">

    <div class="row">

        <div class="col-12">

            <h1>Thank you! </h1>

            <p class="mt-4">
                Your result is <b>{{quest1}}</b>
                <br> Your result is <b>{{quest2}}</b>
                <br> Your result is <b>{{quest3}}</b>
                <br> Your result is <b>{{quest4}}</b>
                <br> Your result is <b>{{quest5}}</b>
                <br> Your result is <b>{{quest6}}</b>
            </p>

            <!-- <button type="button" class="btn btn-warning mt-3" type="submit" (click)="formDone()">Back Home</button> -->

        </div>
    </div>